{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Track</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <img src="{% static 'image/fleetTrackLogo.png' %}" alt="FleetTrack Logo" class="logo">
                <h1>Crie a sua conta</h1>
                <p>Fleet Management System</p>
            </div>
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="company_name">Nome da Empresa</label>
                    <div class="input-with-icon">
                        <input type="text" id="company_name" placeholder="Digite o nome da Empresa" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="full_name">Nome Completo</label>
                    <div class="input-with-icon">
                        <input type="text" id="full_name" placeholder="Digite o Nome Completo" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-with-icon">
                         <input type="email" id="email" placeholder="Digite o seu email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <div class="input-with-icon">
                        <input type="password" id="password" placeholder="Digite a senha" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirme a senha</label>
                    <div class="input-with-icon">
                        <input type="password" id="confirm_password" placeholder="Confirme a senha" required>
                    </div>
                </div>

                <button type="submit" class="btn-signin">Crie a conta</button>
            </form>

            <div class="divider">
            </div>

            <div class="signup-link">
                <p>Já tem conta? <a href="{% url 'login' %}">conecte-se</a></p>
            </div>
        </div>
    </div>
</body>
</html>