{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro no Servidor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <img src="{% static 'image/fleetTrackLogo.png' %}" alt="FleeAtTrack Logo" class="logo">
                <h1 style="color: #dc2626;">Erro 500</h1>
                <p>Ops! Algo deu errado no servidor.</p>
            </div>

            <p style="color: #666; font-size: 16px; margin-bottom: 25px;">
                Tente novamente mais tarde.
            </p>

            <a href="{% url 'dashboard' %}" class="btn-signin" style="text-decoration: none;">Voltar para o
                Dashboard</a>

        </div>
    </div>
</body>

</html>